{% extends "base.html" %}

{% block content %}

    {% if players|length == 0 %}
    <div class="centre-box">
    <h1>Player 1</h1>
    <form class="form" action="/play" method="post">
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="Player 1">  
            </li>
            <li>
                <div class="radio-toolbar">
                    <input type="radio" id="rock" name="choice" value="rock" checked>
                    <label for="rock">Rock</label>
                
                    <input type="radio" id="scissors" name="choice" value="scissors">
                    <label for="scissors">Scissors</label>
                
                    <input type="radio" id="paper" name="choice" value="paper">
                    <label for="paper">Paper</label>
                </div>
            </li>
            <li >
                <input type="submit" value="Next Player">
            </li>
        </ul>
        </div>
    </form>

    {% endif %}

    {% if players|length == 1 %}

        {% if players[0].name == 'Computer' %}
    <div class="centre-box">
        <h1>Player</h1>

        <form class="form" action="/play" method="post">
            <ul>
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="Player">   
                </li>

        {%else%}
    <div class="centre-box">
        <h1>Player 2</h1>

        <form class="form" action="/play" method="post">
            <ul>
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="Player 2">   
                </li>
        {%endif%}
                <li>
                    <div class="radio-toolbar">
                        <input type="radio" id="rock" name="choice" value="rock" checked>
                        <label for="rock">Rock</label>
                    
                        <input type="radio" id="scissors" name="choice" value="scissors">
                        <label for="scissors">Scissors</label>
                    
                        <input type="radio" id="paper" name="choice" value="paper">
                        <label for="paper">Paper</label>
                    </div>
                </li>
                <li>
                    <input type="submit" value="Confirm">
                </li>
            </ul>
        </form>
    </div>
    {% endif %}

    {% if players|length == 2 %}
    <div class="play-box">
        <form class="form" action="/{{players[0].choice}}/{{players[1].choice}}" method="post">
            <input type="submit" value="Play">
        </form>
    </div>
    {% endif %}

{% endblock %}